$number-of-columns: 8;

.form-container {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.form-row {
  width: 100%;
}

.form-row-container {
  align-items: flex-start;
  border-bottom: 0.5px solid $border-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-cell {
  align-self: center;
  flex-direction: row;
  padding: ($horizontal-spacing / 2);
  text-align: center;
  width: (100% / $number-of-columns);

  &.icon-cell {
    text-align: left;
    width: (100% / $number-of-columns / 2);
  }

  &.half-row {
    text-align: left;
    width: (4 * (100% / $number-of-columns));
  }
}

.active {
  background-color: $active-color;
}

.price-cell {
  color: $tertinary;
}

.form-header {
  font-size: 120%;
  font-weight: bold;
}

.comment-input {
  background-color: $tertinary;
}

.full-width {
  width: 100%;
}
