.btn-primary {
  background-color: $secondary;
  border-color: $secondary;
}

.item-submit {
  width: 100px;
  margin-top: $vertical-spacing;
  margin-left: auto;
  background-color: $secondary;
  border-color: $secondary;
}

.submit-right {
  float: right;
}

.btn-cancel {
  @extend .item-submit;
  background-color: red;
  border-color: red;
}

.submit-order {
  background-color: $secondary;
  border-color: $secondary;
  font-size: 120%;
  margin-top: $vertical-spacing;
}

.submit-order-stopped {
  background-color: $tertinary;
  border-color: $tertinary;
  font-size: 120%;
  margin-top: $vertical-spacing;
}
