%h1 Soldadura en acero inoxidable de alta calidad, directo de la India, para todo tamaño de distribuidor, en toda América Latina.

%h2 Nuestro objetivo es crecer su negocio, proveendo productos TIG, MIG y SAW para pedidos a partir de 1 tonelada, a los mejores precios del mercado.

Ingrese aqui para ver nuestros precios y condiciones de venta

Entre en contacto con nosotros directamente por email:

Nombre
Empresa
Email
Mensaje
