.form-row.form-header
  .form-row-container
    .form-cell Tipo
    .form-cell Grado
    .form-cell Diámetro
    .form-cell Acabado
    .form-cell Precio <small>/kg</small>
    .form-cell Volumen <small>kgs</small>
    .form-cell Costo <small>USD</small>
    .form-cell.icon-cell
