%p
= div_for @order do
  Total volume:
  = @order.total_volume

%p
  Transport:
  %span#transport_cost= @order.total_volume >= 1000 ? @order.cost_transport : 'NA: Minimum volume of 1000kg not reached'

%p
  Total cost:
  %span#total_cost= @order.cost_total
