%p VIDEO

%h1 Desde 2011, somos los representantes exclusivos en América Latina hispano-hablante para Panchmahal Steel, radicada en Baroda, India.
%h2 Con mas de 35 años de experiencia en la manufactura de acero especializado, Panchmahal es uno de los principales fabricantes de  productos largos de acero inoxidable en la India.
%p La compañía se dedica exclusivamente al acero inoxidable, y con instalaciones completamente integradas, desde la fundición de acero hasta el acabado en frío, ofrecemos una gama completa de grados de acero: barras y alambrón laminados en caliente, y barras y alambre laminado o en frío.
%p Soldaduras Latinas está radicada en Uruguay.

%p CERTIFICADOS DE CALIDAD:
