%h1 Alambrón y alambre para soldadura para importación

%p La gama de productos Panchmahal de soldadura de acero inoxidable incluye alambrón para trefilado, alambre núcleo / tubular para la manufactura de electrodos (en bobina o cortado a medida), y alambres TIG, MIG y SAW (prontos para soldar).

%h2 El pedido mnimo es de 1 tonelada, que puede ser constituida por varios grados y especificaciones.

%p Producimos composiciones químicas tanto estándares como personalizadas, según las normas AWS, EN y GOST. Tambien ofrecemos servicio personalizado de embalaje, etiquetado y sellado para las marcas privadas.

%ul
  %li
    Alambrón (para trefilado)
    %ul
      %li Condicion de suministro: HRAP (Recocido laminado en caliente y decapado)
      %li Condicion de suministro: HRAP (Recocido laminado en caliente y decapado)
      %li Peso de la bobina: 500-650kg
      %li Tamaño: 5.5mm
  %li
    Alambre núcleo / tubular para la manufactura de electrodos en bobina
    %ul
      %li Tamaños: 0.6mm a 5.0mm
      %li Acabado: Brillante o mate
      %li Embalaje: Bobinas de entre 25kg hasta 650kg
  %li
    Alambre núcleo / tubular para la manufactura de electrodos cortado a medida
    %ul
      %li Tamaños: 1.6mm a 5.0mm
      %li Acabado: Brillante o mate
      %li Longitud: Personalizado
      %li Embalaje: Cajas de entre 50kg hasta 1000kg
  %li
    Alambre TIG
    %ul
      %li Tamaños: 0.8mm a 5.0mm
      %li Acabado: 1000mm o 36 pulgadas
      %li Embalaje: 5kg & 10kg en tubos de cartón o plástico
  %li
    Alambres MIG
    %ul
      %li Tamaños: 0.6mm a 1.6mm
      %li Acabado: Brillante o mate
      %li Embalaje: bobinaje de precisión sobre carretes de plástico o de alambre metálico, o cubos para procesos automáticos de soldadura.
      %li Peso de bobina: 1kg, 5kg, 12.5kg, 15kg, 150kg, 300kg
  %li
    Alambre SAW
    %ul
      %li Tamaños: 1.6mm a 4.0mm
      %li Acabado: Brillante o mate
      %li Embalaje: Bobinas con carretes H400 (plástico) o K415 (alambre metálico)
      %li Peso de bobina: 25kg
